.new-tweet {
  width: 95%;
  margin: 0.5em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  font-weight: 600;
}

.form-design button {
  border: none;
  font-size: medium;
  font-family: "Bungee", sans-serif;
  background-color:#4056A1;
  color: #ffffff;
}

.form-design {
  font-size: medium;
  font-family: 'Bungee', sans-serif;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}


textarea {
  outline: none;
  overflow: hidden;
  display: block;
  resize: none;
  border: none;
  border-bottom: solid;
  background-color: #f4f1ec;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 17px;
  font-weight: 600;
  margin-top: 5px;
  height: 30px;
  width: 100%;
}

.exceed-limit {
  color: red;
}

.errorMessage {
  padding: 15px;
  color: red;
  border-radius: 25px;
  display: none;
  text-align: center;
}
